[submodule "Wallet/ThirdParty/variant"]
	path = Wallet/ThirdParty/variant
	url = https://github.com/mapbox/variant.git
[submodule "Wallet/ThirdParty/GSL"]
	path = Wallet/ThirdParty/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "Wallet/lib_crl"]
	path = Wallet/lib_crl
	url = https://github.com/desktop-app/lib_crl.git
[submodule "Wallet/lib_rpl"]
	path = Wallet/lib_rpl
	url = https://github.com/desktop-app/lib_rpl.git
[submodule "Wallet/lib_base"]
	path = Wallet/lib_base
	url = https://github.com/desktop-app/lib_base.git
[submodule "Wallet/codegen"]
	path = Wallet/codegen
	url = https://github.com/desktop-app/codegen.git
[submodule "Wallet/lib_ui"]
	path = Wallet/lib_ui
	url = https://github.com/desktop-app/lib_ui.git
[submodule "Wallet/lib_tl"]
	path = Wallet/lib_tl
	url = https://github.com/newton-blockchain/lib_tl.git
[submodule "Wallet/lib_ton"]
	path = Wallet/lib_ton
	url = https://github.com/newton-blockchain/lib_ton.git
[submodule "Wallet/ThirdParty/rlottie"]
	path = Wallet/ThirdParty/rlottie
	url = https://github.com/desktop-app/rlottie.git
[submodule "Wallet/lib_lottie"]
	path = Wallet/lib_lottie
	url = https://github.com/desktop-app/lib_lottie.git
[submodule "Wallet/ThirdParty/xxHash"]
	path = Wallet/ThirdParty/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "Wallet/lib_storage"]
	path = Wallet/lib_storage
	url = https://github.com/desktop-app/lib_storage.git
[submodule "Wallet/lib_wallet"]
	path = Wallet/lib_wallet
	url = https://github.com/newton-blockchain/lib_wallet.git
[submodule "Wallet/ThirdParty/expected"]
	path = Wallet/ThirdParty/expected
	url = https://github.com/TartanLlama/expected
[submodule "Wallet/ThirdParty/QR"]
	path = Wallet/ThirdParty/QR
	url = https://github.com/nayuki/QR-Code-generator
[submodule "Wallet/lib_qr"]
	path = Wallet/lib_qr
	url = https://github.com/desktop-app/lib_qr.git
[submodule "Wallet/lib_updater"]
	path = Wallet/lib_updater
	url = https://github.com/desktop-app/lib_updater.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/desktop-app/cmake_helpers.git
