/out/
Debug/
Release/
/ThirdParty/
/Wallet/build/target
/Wallet/tests/
/Wallet/gyp/tests/*.test
/Wallet/out/
/Wallet/*.user
*.vcxproj*
*.sln
*.suo
*.sdf
*.opensdf
*.opendb
*.VC.db
*.aps
*.xcodeproj
/Win32/
ipch/
.vs/

.DS_Store
._*
.qmake.stash
/Mac/
project.xcworkspace
xcuserdata

parts
prime
stage
*.snap
.snapcraft
/snap/gui/*.png
/snap/gui/*.desktop
/snap/plugins/__pycache__

/Wallet/*.user.*
*.pro.user
/Linux/
/Wallet/Makefile
*.*~

.idea
cmake-build-debug